# Servidor
PORT=3000
NODE_ENV=development

# MongoDB Atlas
# Ejemplo:
# mongodb+srv://USUARIO:CONTRASENA@cluster0.xxxxx.mongodb.net/mi_base?retryWrites=true&w=majority
MONGO_URI=

# Sesiones
SESSION_SECRET=cambiar-por-un-secreto-largo-y-aleatorio

# Administrador inicial (para npm run seed:admin)
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@ejemplo.com
ADMIN_PASSWORD=Cambiar123!
