PORT=3000
NODE_ENV=development
SESSION_SECRET=pon-una-clave-larga-y-segura
USE_MONGO=false
MONGO_URI=mongodb+srv://USUARIO:CLAVE@cluster.mongodb.net/qcasa?retryWrites=true&w=majority
APP_URL=http://localhost:3000
