<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if isQPropiedades %}{{ (title or 'QPROPIEDADES') | replace('QCASA','QPROPIEDADES') }}{% else %}{{ title or 'Estudio QR' }}{% endif %}</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  {% block body %}{% endblock %}
  <script src="/js/app.js"></script>
</body>
</html>
